<div class="cards-list">
  <div class="card 1" routerLink="/laptimes">
    <div class="card_image"> <img src="./assets/icons/start.png" /> </div>
    <div class="card_title title-white">
      <br>Start
    </div>
  </div>

    <div class="card 2" routerLink="/settings">
    <div class="card_image">
      <img src="./assets/icons/settings.png" />
      </div>
    <div class="card_title title-white">
      <br>Settings
    </div>
  </div>

  <div class="card 3" (click)="shutdown()">
    <div class="card_image">
      <img src="./assets/icons/poweroff.png"/>
    </div>
    <div class="card_title title-white">
      <br>Power Off
    </div>
  </div>
</div>
